.agent-play-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-wrapper {
  position: relative;
}

.board-wrapper svg {
  display: block;
}

.board-controls-above {
  position: absolute;
  width: 100%;
  bottom: 100%;
  display: flex;
  justify-content: center;
}

.board-controls-above * {
  margin: 0 .25rem;
}

.board-controls-below {
  position: absolute;
  width: 100%;
  top: 100%;
  display: flex;
  justify-content: center;
}

.board-controls-below * {
  margin: 0 .25rem;
}

.alert-wrapper {
  position: fixed;
  bottom: .5rem;
}
