.board {
  box-sizing: border-box;
  height: min(100vh, 100vw, 400px);
  padding: .5rem;
  width: min(100vh, 100vw, 400px);
}

.board-background {
  fill: url(#board);
  height: 100%;
  width: 100%;
}

.board-hole {
  fill: brown;
}

.board-hole--highlight {
  stroke: magenta;
  stroke-width: 1;
}

.board-marble {
  fill: url(#marble);
}

.board-marble-highlight {
  fill: none;
  stroke: magenta;
  stroke-width: 1;
}
