.board {
  box-sizing: border-box;
  height: min(100vh, 100vw, 400px);
  padding: .5rem;
  width: min(100vh, 100vw, 400px);
}

.board-background {
  fill: url(#board);
  height: 100%;
  width: 100%;
}

.board-hole {
  fill: brown;
}

.board-marble {
  fill: url(#marble);
}

.board-marble--disappear {
  transition: all 400ms ease-in 200ms;
}

.board-marble--move {
  transition: all 400ms ease-in;
}
