.board {
  height: 400px;
  width: 400px;
}

.board-background {
  fill: url(#board-1);
  height: 100%;
  width: 100%;
}

.board-position {
  fill: brown;
}

.board-piece {
  fill: url(#marble-2)
}

.board-piece--selected {
  stroke: magenta;
}
