.manual-play-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.board-wrapper svg {
  display: block;
}

.board-controls-below {
  position: absolute;
  width: 100%;
  top: 100%;
  display: flex;
  justify-content: center;
}

.board-controls-below * {
  margin: 0 .25rem;
}
