.training-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  width: 100%;
}

.training-content-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.training-content-inner * {
  margin: .25rem 0;
}

.training-warning {
  font-style: italic;
}

.training-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.training-controls-left * {
  margin: 0 .25rem;
}

.training-timer {
  font-family: 'Courier New', Courier, monospace;
}

.training-stats-label {
  font-weight: bold;
}

.training-stats-value {
  font-family: 'Courier New', Courier, monospace;
  width: 50%;
}

.training-stats-chart {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
}
