.train-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  width: 100%;
}

.train-content-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.train-content-inner * {
  margin: .25rem 0;
}

.train-warning {
  font-style: italic;
}

.train-timer {
  font-family: 'Courier New', Courier, monospace;
}

.train-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.train-messages {
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
  padding: .5rem;
  width: 100%;
}
